//@import "~bootstrap/dist/css/bootstrap.min.css";

.navbar {
  background-color: #333 !important;
  color: #fff !important;
}

.navbar .nav-link {
  color: #fff !important;
}

.navbar .navbar-toggler-icon {
  color: #fff !important;
}

.offcanvas {
  background-color: #333;
  width: 250px;
}
.cart-icon
{
  position: absolute;
  right: 15px;
  top: 20px;

}
.cart-item-count{
  position: absolute;
  right: 18px;
  top: 10px;
  
  
  
  
  font-size: 12px;
  
  color: white;
}


