<!-- <div class="card" *ngFor="let item of foodList">
  <div class="card-body">
    <p class="card-title mat-title">{{ item.name }}</p>
    <p class="card-text mat-subheading-2">{{ item.description }}</p>
    <div class="card-price">
      <p >{{ item.price | currency }}</p>
    </div>
    <button color="primary" mat-raised-button (click)="addToCart(item)">Add to Cart</button>
  </div>
</div> -->


<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="mb-4" style="font-size: 2rem; margin-top: 0.5em;">Food Menu</h2>
      <ul class="list-group">
        <li *ngFor="let item of foodList" class="list-group-item mb-4">
          <div class="row">
            <div class="col-md-12">
              <h4 class="mb-3" style="font-size: 1.5rem;">{{item.name}}</h4>
              <p class="mb-3" style="font-size: 1.2rem;">{{item.description}}</p>
              <h5 class="mb-3" style="font-size: 1.2rem;">{{item.price}}</h5>
              <button (click)="addToCart(item)" class="btn btn-primary" style="font-size: 1.2rem;">Add to Cart</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>


