// .chatbot-container {
//     display: flex;
//     flex-direction: column;
//     height: 100%;
//     width: 100%;
//   }
  
//   .chatbot-messages {
//     flex: 1;
//     overflow-y: auto;
//     padding: 1rem;
//   }
  
//   .message {
//     background-color: #eee;
//     border-radius: 1rem;
//     margin-bottom: 1rem;
//     padding: 1rem;
//     width: fit-content;
//   }
  
//   .message.user {
//     align-self: flex-end;
//     background-color: #007bff;
//     color: #fff;
//   }
  
//   .chatbot-input {
//     background-color: #fff;
//     border-top: 1px solid #eee;
//     display: flex;
//     padding: 1rem;
//   }
  
//   .chatbot-input input {
//     border: none;
//     flex: 1;
//     font-size: 1rem;
//     margin-right: 1rem;
//     outline: none;
//     padding: 0.5rem;
//   }
  



.chat-container {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 300px;
    height: 250px;
    background-color: #f2f2f2;
    overflow-y: scroll;
  }
  .chat-messages {
    padding: 10px;
  }

  .chat-close {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    border: none;
    background-color: #f2f2f2;
    color: #999;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
  }
  

//   slackblitz

.message {
  border-radius: 50px;
  margin: 0 15px 20px;
  padding: 10px 20px;
  position: relative;
  font-size: 20px;
}
.message.to {
  background-color: #2095FE;
  color: #fff;
  margin-left: 100px;
  text-align: right;
}
.message.from {
  background-color: #E5E4E9;
  color: #363636;
  margin-right: 100px;
}
.message.to + .message.to,
.message.from + .message.from {
  margin-top: -10px;
}
  